<h1>
  <i class="fa fa-user"></i>
  Edit Customer
</h1>

<div class="col-12">
  <div class="col-2 float-left">
    <a class="nav-link" routerLink="/customers/{{arrayIndex}}/edit/view">View Details</a>
  </div>
  <div class="col-2 float-left">
    <a class="nav-link" routerLink="/customers/{{arrayIndex}}/edit/update">Edit Details</a>
  </div>
  <div class="col-2 float-left">
    <a class="nav-link" routerLink="/customers/{{arrayIndex}}/edit/orders">Orders</a>
  </div>
</div>

<div>
  Index is  {{arrayIndex}}
</div>
