<div class="row">
  <div class="col-md-12 text-center"><h1>SIGN IN</h1></div>
  <div class="col-md-8 col-md-offset-2">
    <form (ngSubmit)="onSignIn()" #f="ngForm">
      <div class="form-group">
        <label for="email">Mail</label>
        <input type="email"
               class="form-control"
               id="email"
               name="email"
               email
               required
               ngModel
               [ngClass]="(email.valid) ? 'valid-border' : 'invalid-border'"
               #email="ngModel">
        <div class="alert alert-danger col-md-12" *ngIf="!email.valid && email.touched">
          Please enter a valid Email!
        </div>
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input type="password"
               class="form-control"
               id="password"
               name="password"
               required
               minlength="6"
               ngModel
               [ngClass]="(password.valid) ? 'valid-border' : 'invalid-border'"
               #password="ngModel">
        <div class="alert alert-danger col-md-12" *ngIf="!password.valid && password.touched">
          Password Min Length Should Be 6 Characters!
        </div>
      </div>

      <button class="btn btn-primary"
              [disabled]="!f.valid"
              type="submit">
        Sign In
      </button>
    </form>
  </div>
</div>
